.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.center {
	display: flex;
	justify-content: center;
	align-items: center;
}
h1 {
	font-family: fantasy;
	font-size: 3em;
	text-align: center;
	border-bottom: 2px solid red;
	border-right: 2px solid red;
	border-left: 2px solid red;
	border-top: 2px solid red;
	width: 350px;
	box-shadow: 4px 4px 5px 0px red;

}
img {
	width: 150px;
	height: 300px;
	margin: 10px;
	transition: all 1s;
}


img:hover {
	transform: scale(1:1);
	 
}